
#camera{
    border-right: 2px solid rgba(234, 233, 233, 0.58) ;
    height: 100%;
}

.meeting-participant{
    height: 55px;
    width: 55px;
    color: var(--primary-color);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
}

#user-list{
    &::-webkit-scrollbar{
        height: 5px !important;
        background: #ffffffcc;
        width: 3px !important;
        -webkit-border-radius: 51px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        -webkit-border-radius: 51px;
    }
    
    &::-webkit-scrollbar-corner {
        background: #dfebff;
    }
}
#video-container{
    width: calc(100vw - 422px);
    &>div{
        min-width: 296px;
    }
}
#user-list-container{
    max-height: calc(100vh - 100px);
}

.swiper-slide{
    width: 300px !important;
}
  .swiper-scrollbar {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }