<div class=" flex flex-col h-screen">
    <div class="h-[140px] w-full max-width-full flex justify-between items-center pr-[28px]">
        <div class="flex h-full items-center ">
            <div id="camera" class="w-[151px] flex items-center justify-center bg-white">
                <img class="w-[75px]" src="../../assets/image/camera.png" alt="camera icon">
            </div>
            <div class="pl-9 font-medium">
                <div class="text-2xl mb-1">[Internal] Weekly report Marketing + Sales</div>
                <div class="text-sm text-[#ACACAC]">June 12th, 2022 | 11:00 AM</div>
            </div>
        </div>
    
        <div class="flex justify-between h-full items-center">
            <div class="flex items-center">
                <div class="mr-[18px] flex" >
                    <div class="meeting-participant">
                        <img src="./../../assets/image/user1.png" alt="meeting participant image profile">
                    </div>
                    <div class="meeting-participant right-[20px]" >
                        <img src="./../../assets/image/user2.png" alt="meeting participant image profile">
                    </div>
                    <div class="meeting-participant right-[40px]">
                        <img src="./../../assets/image/user3.png" alt="meeting participant image profile">
                    </div>
                    <div class="meeting-participant right-[60px]">
                        <img src="./../../assets/image/user4.png" alt="meeting participant image profile">
                    </div>
                    <div class="right-[80px] meeting-participant border-white border-solid flex justify-center items-center font-semibold  bg-[#DFEBFF] border-[3px] " [ngClass]="'right-['+((3*20)+20)+'px]'">
                        +9
                    </div>
                </div>
                <div class="flex font-medium mr-20 h-[55px] w-[200px] items-center px-[17.5px] justify-between rounded-[115px] text-[#0060FF] bg-[#DFEBFF]">
                    <div >
                        <img class="h-8" src="../../assets/image/link.svg" alt="meeting link">
                    </div>
                    <div>|</div>
                    <div >cem-jnmt-hsu</div>
                </div>    
            </div>
            <div class=" relative bg-[#F6F6F6] w-[366px] h-[80px] flex items-center rounded-[83px]">
                <div class="meeting-participant mr-[17px] ml-[17px] border-[3px] border-white border-solid">
                    <img src="../../assets/image/moderateur.png" alt="meeting moderator image">
                </div>
                <div class="leading-5 font-medium">
                    <div class="text-[#25293B]">Adam Joseph</div>
                    <div class="text-[#9E9E9E] text-xs">Moderateur</div>
                </div>
                <div class="absolute right-[34px] top-[30px]">
                    <img src="../../assets/image/ellipsis.svg" alt="contextual-menu">
                </div>
            </div>
        </div>
    </div>
    <div  class="flex-grow flex w-full border border-solid border-[#d9d9d94a] max-width-full" >
        <div class="flex-grow flex flex-col bg-[#F1F0F0]"  >
            <div class="flex-grow border border-solid border-black rounded-[15px] my-5 mx-6">
                opppo
            </div>

            <div id="video-container" class="text-white w-full font-medium gap-2.5 flex justify-center mx-6 overflow-x-auto pb-2.5">
                <div class="relative h-[181px] w-[297px] rounded-[11px] border border-solid border-black">
                    <div class=" absolute left-[22px] bottom-[12.5px] px-5 rounded-[60.9px] .5 flex items-center w- justify-center backdrop-blur-[2.7688093185424805px] bg-black/[.30]">
                        <span>Cassie Jung</span>
                    </div>

                    <div class="w-10 h-10 rounded-[69.8px] absolute flex justify-center items-center bottom-[12.5px] right-2.5 bg-[#141EFF]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path d="M16.4303 6.53033V6.22985C16.4303 4.0163 14.6375 2.22342 12.4239 2.22342C10.2104 2.22342 8.41748 4.0163 8.41748 6.22985V11.2379" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.45898 14.433C10.1902 15.2443 11.2519 15.7451 12.4237 15.7451C14.6373 15.7451 16.4302 13.9522 16.4302 11.7387V11.2379" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.1958 17.1974C8.568 18.4695 10.4009 19.2507 12.4242 19.2507C16.651 19.2507 20.0865 15.8152 20.0865 11.5884V9.88571" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.76172 9.88571V11.5884C4.76172 12.6501 4.97206 13.6518 5.36268 14.5732" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.5072 3.06473L4.34131 19.2407" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.4229 3.22501V6.22983" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.4243 19.2507V22.2555" stroke="white" stroke-width="1.66129" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center h-[140px]" style="border: 1px solid red;">
                <div class="w-[60px] w-[60px] flex item-center justify-center">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path d="M18.6668 8.5556H9.73929H9.3335V14.7102L12.9857 18.6667H15.4205L18.6668 15.1498V8.5556Z" fill="white" fill-opacity="0.8"/>
                        <path d="M14.0002 18.0833C16.5785 18.0833 18.6668 15.995 18.6668 13.4166V6.99998C18.6668 4.42165 16.5785 2.33331 14.0002 2.33331C11.4218 2.33331 9.3335 4.42165 9.3335 6.99998V13.4166C9.3335 15.995 11.4218 18.0833 14.0002 18.0833Z" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.07568 11.2584V13.2417C5.07568 18.165 9.07735 22.1667 14.0007 22.1667C18.924 22.1667 22.9257 18.165 22.9257 13.2417V11.2584" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 22.1667V25.6667" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>    
                </div>

                <div class="h-16 w-20 flex item-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m136-304-92-90q-12-12-12-28t12-28q88-95 203-142.5T480-640q118 0 232.5 47.5T916-450q12 12 12 28t-12 28l-92 90q-11 11-25.5 12t-26.5-8l-116-88q-8-6-12-14t-4-18v-114q-38-12-78-19t-82-7q-42 0-82 7t-78 19v114q0 10-4 18t-12 14l-116 88q-12 9-26.5 8T136-304Zm104-198q-29 15-56 34.5T128-424l40 40 72-56v-62Zm480 2v60l72 56 40-38q-29-26-56-45t-56-33Zm-480-2Zm480 2Z"/></svg>
                </div>

                <div class="w-[60px] w-[60px] flex item-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                        <g filter="url(#filter0_b_29_775)">
                        <rect width="60" height="60" rx="30" fill="#0060FF"/>
                        </g>
                        <defs>
                        <filter id="filter0_b_29_775" x="-10.5" y="-10.5" width="81" height="81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="5.25"/>
                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_29_775"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_29_775" result="shape"/>
                        </filter>
                        </defs>
                    </svg>
                </div>

                
                        
            </div>
        </div>

        <div class="flex flex-col w-[421px] bg-[#F6F6F6] border border-solid border-[#EAE9E9] ">
            <div class="font-semibold justify-between items-center bg-white flex pl-[32px] pr-[22px] mb-[30px] w-full h-[70px]">
                <div class="text-[#292D32] text-lg ">Participants</div>
                <div class="flex items-center">
                    <div class="rounded-[61px] bg-[#DFEBFF] mr-[17px] py-3 px-5 w-[176px] flex items-center" >
                        <span class="text-sm text-[#0060FF] ">Add participant</span>
                        <img class="ml-2.5" src="../../assets/image/user-add.svg" alt="add-user-icon">
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                        <path d="M1 7L7 1L13 7" stroke="#0060FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>  
                </div>
                
            </div>
            <div id="user-list" class="pr-5 pl-5 mr-8 mb-9 flex-grow">
                <div class="flex rounded-[31.5px] bg-[#ffffffcc] justify-between items-center mb-4 h-[69px] pr-4 pl-2">
                    <div class="flex items-center">
                        <div class="mr-[17px] h-[55px] w-[55px] rounded-[95px]">
                            <img src="../../assets/image/contacts-image/user1.png" class="w-full h-full" alt="meeting participant image profile" >
                        </div>
                        <span class="text-[#25293B] font-medium">Dianne Russell</span>
                    </div>
                    <div class="flex items-center">
                        <svg class="mr-[17px]" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M12 16C14.21 16 16 14.21 16 12V6.5C16 4.29 14.21 2.5 12 2.5C9.79 2.5 8 4.29 8 6.5V12C8 14.21 9.79 16 12 16Z" stroke="#0060FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.3501 10.15V11.85C4.3501 16.07 7.7801 19.5 12.0001 19.5C16.2201 19.5 19.6501 16.07 19.6501 11.85V10.15" stroke="#0060FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6099 6.93C11.5099 6.6 12.4899 6.6 13.3899 6.93" stroke="#0060FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.2002 9.05001C11.7302 8.91001 12.2802 8.91001 12.8102 9.05001" stroke="#0060FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 19.5V22.5" stroke="#0060FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M16.63 8.08C16.63 8.08 16.66 7.13 16.63 6.82C16.46 4.78 15.13 4.08 12.52 4.08H6.21C3.05 4.08 2 5.13 2 8.29V16.71C2 17.97 2.38 19.24 3.37 20.05L4 20.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.7398 11.45V16.71C16.7398 19.87 15.6898 20.92 12.5298 20.92H7.25977" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.0002 7.24001V16.31C22.0002 17.98 20.8802 18.56 19.5202 17.6L16.7402 15.65" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.02 2.69L2.02002 22.69" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </div>
                </div>

                <div class="flex rounded-[31.5px] bg-[#ffffffcc] justify-between items-center mb-4 h-[69px] pr-4 pl-2">
                    <div class="flex items-center">
                        <div class="mr-[17px] h-[55px] w-[55px] rounded-[95px]">
                            <img src="../../assets/image/contacts-image/user2.png" class="w-full h-full" alt="meeting participant image profile" >
                        </div>
                        <div class="text-[#25293B] font-medium">Guy Hawkins</div>
                    </div>
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-[17px]" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M16 6.8V6.5C16 4.29 14.21 2.5 12 2.5C9.79 2.5 8 4.29 8 6.5V11.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.04004 14.69C9.77004 15.5 10.83 16 12 16C14.21 16 16 14.21 16 12V11.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6.77979 17.45C8.14979 18.72 9.97978 19.5 11.9998 19.5C16.2198 19.5 19.6498 16.07 19.6498 11.85V10.15" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.3501 10.15V11.85C4.3501 12.91 4.5601 13.91 4.9501 14.83" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.0702 3.34L3.93018 19.49" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11 3.5V6.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 19.5V22.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M16.63 8.08C16.63 8.08 16.66 7.13 16.63 6.82C16.46 4.78 15.13 4.08 12.52 4.08H6.21C3.05 4.08 2 5.13 2 8.29V16.71C2 17.97 2.38 19.24 3.37 20.05L4 20.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.7398 11.45V16.71C16.7398 19.87 15.6898 20.92 12.5298 20.92H7.25977" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.0002 7.24001V16.31C22.0002 17.98 20.8802 18.56 19.5202 17.6L16.7402 15.65" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.02 2.69L2.02002 22.69" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </div>
                </div>

                <div class="rounded-[31.5px] bg-[#ffffffcc] flex justify-between items-center mb-4 h-[69px] pr-4 pl-2">
                    <div   class="flex items-center">
                        <div class="mr-[17px] h-[55px] w-[55px] rounded-[95px]">
                            <img src="../../assets/image/contacts-image/user2.png" class="w-full h-full" alt="meeting participant image profile" >
                        </div>
                        <div class="text-[#25293B] font-medium">Jack Hawkins</div>
                    </div>
                    <div class="flex items-center ">
                        <svg class="mr-[17px]" xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M12 16C14.21 16 16 14.21 16 12V6.5C16 4.29 14.21 2.5 12 2.5C9.79 2.5 8 4.29 8 6.5V12C8 14.21 9.79 16 12 16Z" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.3501 10.15V11.85C4.3501 16.07 7.7801 19.5 12.0001 19.5C16.2201 19.5 19.6501 16.07 19.6501 11.85V10.15" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6099 6.93C11.5099 6.6 12.4899 6.6 13.3899 6.93" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.2002 9.05001C11.7302 8.91001 12.2802 8.91001 12.8102 9.05001" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 19.5V22.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M16.63 8.08C16.63 8.08 16.66 7.13 16.63 6.82C16.46 4.78 15.13 4.08 12.52 4.08H6.21C3.05 4.08 2 5.13 2 8.29V16.71C2 17.97 2.38 19.24 3.37 20.05L4 20.5" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.7398 11.45V16.71C16.7398 19.87 15.6898 20.92 12.5298 20.92H7.25977" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.0002 7.24001V16.31C22.0002 17.98 20.8802 18.56 19.5202 17.6L16.7402 15.65" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.02 2.69L2.02002 22.69" stroke="#EB5757" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>