
<div class="h-screen w-full p-6 pt-6 sm:p-12 pt-9">
    <div class="flex items-center justify-between font-normal">
        <div id="logo" >
            <img src="../../assets/image/logo.png" alt="App-logo">
        </div>
        <nav class="items-center w-[356px] text-2xl flex justify-between">
            <ul class="flex contents">
                <li>About</li>
                <li>Plans</li>
            </ul>
            <button id="bt-sign-up" class="flex py-2.5 px-6">Sign Up</button>
        </nav>
    </div>
    <div class="flex justify-between flex-wrap px-12 mt-[145px]">
        <div class="w-[665px] ">
            <div class="text-[64px]/[76.8px] font-medium">
                Bring people together to make tickcles happen
            </div>
            <div class="my-12 text-[23px] font-normal" >
                Revolutionary video calling app for design and code reviews. With Tikcle, you ‘ll never to leave you house again.
            </div>
            <button (click)="startMeeting()" id="bt-start" class="mb-10 text-white text-[24px]/[27.6px] bg-[#141EFF]">
                Get tickcle
            </button>
        </div>
        <div id="illustration">
            <img src="../../assets/image/illustration.png" alt="illutration of a call exemple">
        </div>
    </div>
</div>

